__pycache__/
*.py[cod]
*$py.class

.env
.env.local

venv/
.venv/
env/

instance/
*.db
*.sqlite
*.sqlite3

app/static/uploads/*
!app/static/uploads/.gitkeep
!app/static/uploads/avatars/.gitkeep
!app/static/uploads/memes/.gitkeep
!app/static/uploads/fit_checks/.gitkeep
!app/static/uploads/vlogs/.gitkeep

.DS_Store
Thumbs.db
